* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

/* start banner section css  */
header {
    height: 95vh;
    width: 100%;
    background-color: #E554731A;
}

.banner-sec {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 40px;
}

.title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}

.btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 12px 33px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}