* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

/* start banner section css  */
header {
    height: 95vh;
    width: 100%;
    background-color: #E554731A;
}

.banner-sec {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 40px;
}

.main-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.main-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 12px 33px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

/* start first hero section css  */

.hero-sec-1 {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.box img {
    width: 200px;
}

.hero-1-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.box {
    height: 350px;
    width: 330px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    border-radius: 210px 210px 0 0;
}

.one {
    background-color: #A7216226;
}

.two {
    background-color: #0597A026;
}

.three {
    background-color: #477D1126;
}

.card {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
.card h6{
    margin-top: 15px;
}
.hero-sec-2{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.hero-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-2-right{
    display: flex;
    align-items: center;
    width: 65%;
    height: 400px;
}
.hero-2-left{
    width: 35%;
}
.box-2 img{
    width: 100%;
    height: 100%;
}
.box-2{
    width: 200px;
    height: 200px;
    border: 4px solid #477D1126;
    margin: 10px;
}
.hero-2-p{
    margin-top: 20px;
}
.hero-2-right h6{
    text-align: center;
    font-size: 17px;
}
/* start hero section 3 css */
.hero-sec-3{
    width: 100%;
    background-color:#E554731A ;
}
.hero-3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:  20px 100px;
}
.btn-3 {
    text-align: center;
    margin-left: 217px;
    margin-top: 22px;
}
/* start hero section 4 css */

.hero-4 {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.images {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.box-img img{
    width: 100%;
}
.box-img{
    width: 230px;
    height: 330px;
}
.des-4{
    margin: 20px 0 40px;
}